.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 701px) {
    .hamburger,
    .cross {
        display: none;
    }
}

@media (max-width: 700px) {
    .nav {
        flex-direction: column;
        position: fixed;
        background-color: black;
        top: -10rem;
        width: 100vw;
        height: 140vh;
        justify-content: center;
        margin: 0;
        padding: 0;
        opacity: 0;
        left: -110%;
        transition: all .3s ease-in;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }

    .nav ul li {
        margin-bottom: 1.5rem;
    }

    .clicked {
        opacity: 1;
        left: 0;
    }

    .hamburger,
    .cross {
        position: fixed;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        color: white;
        z-index: 10;
    }
}

.nav ul {
    display: flex;
    padding: 0 2rem;
}

.nav ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 0 1rem;
    text-transform: uppercase;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a.active {
    border-bottom: 1px solid #fff;
}