.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 17rem;
    height: auto;
    border-radius: 50%;
    margin: 1rem 1rem 0 5rem;
    border: 3px solid rgb(122,122,122);
}

.content {
    margin: 1rem;
    text-align: center;
}

.content h1 {
    font-size: 3rem;
    margin: 0;
}

.content hr {
    margin: .5rem auto;
    width: 10%;
    height: 4px;
    background-color: black;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

.content button {
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
}

.content a {
    text-decoration: none;
    text-transform: uppercase;
}

.divider {
    width: 2px;
    height: 20rem;
    margin: 6px 0;
    background: rgb(122, 122, 122);
}

.skills {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 1rem;
}

.skills>* {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1600px) {
    .home{
        padding: 2rem 0 1rem 0;
    }
}

@media (max-width: 1480px) {
    .content p {
        font-size: 1.5rem;
    }

    .img {
        width: 14rem
    }
}

@media (max-width: 1200px) {
    .home {
        flex-direction: column;
    }
    .divider{
        display: none;
    }
    .img {
        width: 12rem;
        margin: 1rem;
    }

    .content {
        margin: 1rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .home {
        text-align: center;
    }
    .content {
        padding: .5rem 0;
    }

    .skills {
        font-size: 3rem;
        padding: 0;
    }
}