h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.projectsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    margin: 1rem 0 2rem 0;
}

@media (max-width: 1583px) {
    h1 {
        padding-top: 2rem;
    }
}